<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <!-- <img src="{{ url_for('static', filename='dog.png') }}" class="icon" /> -->
  <h3>UniApply: Easy GPT-based University Orientation Consultant for Master</h3>
  <form action="/" method="post">
    <p>Enter your school</p>
    <input type="text" name="school" required />

    <p>Enter your major</p>
    <input type="text" name="major" required />

    <p>Enter your average course score</p>
    <input type="text" name="score" required />

    <p>Select the English test you have taken</p>
    <select required type="text" class="slect" name="EnglishBool">
    <option value="I don't have English test score now">I don't have English test score now</option>
    <option value="IELTS">IELTS</option>
    <option value="TOEFL ">TOEFL </option>
    <option value="PTE Academic">PTE Academic</option>
    <option value="CPE">CPE</option>
    </select>
     
    <p>Enter your English test score</p>
    <input type="text" name="Englishscore" value="0" required />

    <p>Enter your location you plan to study</p>
    <input type="text" name="location" value="eg.American" required />

    <p>Enter other information such as intership and award</p>
    <textarea name= other rows="5" cols="33">
      一段昆士兰大学暑期科研并二作发了顶会，还有一篇国内二作和国内论文(论文署名顺序排名靠后)，信息安全大赛国三，参加大创和美赛(结果不好)
    </textarea>
    <!-- <input type="text" name="Other" placeholder="Enter other information like intership and award" required /> -->


    <p> </p>
    <input type="submit" value="Generate suggested university list" />

    <p> </p>
    {% if result %}
    <p class="result">{{ result }}</p>
    {% endif %}
  </form>
</body>
